#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_image
{
    width: 200px;
    border-radius:50%;
    border-width:10px;
    border-color:black;
    height:100px;
}
#textbox
{
    width: 300px;
}
